<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - MotoConnect</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container login-container">
    <h2>Login MotoConnect</h2>
    <form th:action="@{/login}" method="post">
        <label>Email</label>
        <input type="text" name="username" required>
        <label>Senha</label>
        <input type="password" name="password" required>
        <button type="submit" class="btn">Entrar</button>
    </form>

    <div class="oauth-login">
        <p>Ou login com:</p>
        <a th:href="@{/oauth2/authorization/github}" class="btn">GitHub</a>
        <a th:href="@{/oauth2/authorization/google}" class="btn">Google</a>
    </div>
</div>
</body>
</html>
